@page "/courses/{courseId}/hole/{number}/edit"

@using TeeBox.Domain
@using TeeBox.Domain.Enum
@using TeeBox.Domain.Records
@using TeeBox.Application.Services.Interfaces

@inject ICourseService CourseService
@inject NavigationManager Navigation

<h2>Edit Hole with id: @hole.Id</h2>

<p>Par: @hole.Par</p>
<p>Number: @hole.Number</p>
<p>Hcp: @hole.Hcp</p>

<h3>Tees</h3>

<button @onclick="SaveHole">Save</button>


@if(hole.HoleTees != null)
@foreach (var tee in hole.HoleTees)
{
    <p>Color: @Enum.GetName(typeof(TeeColors), tee.Color)</p>
    <p>Distance @tee.Distance m</p>
}

@code {
    [Parameter]
    public string Number { get; set; }

    [Parameter]
    public string CourseId { get; set; }


    HoleDTO hole = new();

    protected override async Task OnParametersSetAsync()
    {
        hole = await CourseService.GetHoleAsync(int.Parse(CourseId), int.Parse(Number));
    }

    protected void SaveHole()
    {
        Navigation.NavigateTo($"/courses/{CourseId}/hole/{Number}");
    }

}
